<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <center><h1>Регистрация</h1></center>
    <center><form method="post">
        {% csrf_token %}
        {{ from.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Имя</label>
            {{ form.name }}
            <div class="invalid-feedback">
                {{ form.name.errors }}
            </div>
        </div>

         <div class="form-group">
            <label for="{{ form.surname.id_for_label }}">Фамилия</label>
            {{ form.surname }}
            <div class="invalid-feedback">
                {{ form.surname.errors }}
            </div>
         </div>

        <div class="form-group">
            <label for="{{ form.age.id_for_label }}">Возраст</label>
            {{ form.age }}
            <div class="invalid-feedback">
                {{ form.age.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            <div class="invalid-feedback">
                {{ form.email.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
            <div class="invalid-feedback">
                {{ form.password.errors }}
            </div>
        </div>


        <button type="submit" class="btn btn-primary btn-block">Подтвердить</button>
        <div style="margin-top: 200px"><h1><a href="http://127.0.0.1:8000/login">Войти</a></h1></div>
    </form></center>
</body>
</html>